auto-save-list/*
.scratch*
ac-comphist.dat
var/*
url/*
el-get/*
junk/*
.cask/*

eshell

.mc-lists.el
ido.last
ensime/


*.elc

recentf
tramp
places
smex-items
bookmarks

*.log

elpa
.cache
.lsp-session*
transient/*
network-security.*
prescient
projects

session.*
kkcrc

projectile-*